{% extends 'template.html' %}

{% block title %} {{ super()}} - diferenciais {% endblock %}

{% block Content %}


<!-- Services-->
        <section class="page-section" id="services">
            <div class="container">
                <div class="text-center">
                    <h2 class="section-heading text-uppercase">Diferenciais da Universidade</h2>
                    <h3 class="section-subheading text-muted">Engenharia de Software</h3>
                </div>
                <div class="row text-center">
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3"></h4>
                        <p class="text-muted">1) O curso de Bacharelado em Engenharia de Software da Universidade de Vassouras é o único curso nessa temática oferecido na cidade e região Sul Fluminense.
                            2) Possui laboratórios de informática com modernos computadores; lousas digitais; softwares específicos para engenharia; e dispositivos com recursos adequados às necessidades especiais.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3"></h4>
                        <p class="text-muted">3) Possui também salas com lousas digitais;
                            4) 90% corpo docente do curso de Bacharelado em Engenharia de Software é formado por professores mestres e doutores formados nas principais universidades do país, com ampla experiência docente e profissional.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3"></h4>
                        <p class="text-muted">5) O curso de Bacharelado em Engenharia de Software, juntamente com a Central de Carreiras, Oportunidades e Estágios, busca parceria com empresas da região e do estado do Rio de Janeiro, para a realização de convênios e cooperações visando a captação de vagas de emprego e estágio.
                            </p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3"></h4>
                        <p class="text-muted">6) O curso de Bacharelado em Engenharia de Software desenvolve projetos de pesquisa e extensão, organiza diversos eventos como: cursos, visitas técnicas a empresas, o evento Engineering at home ciclo de palestras das Engenharias, Desafio das Engenharias e Engenharia na Prática, que é um programa voltado a inserção dos alunos no mercado de trabalho, através da solução de problemas reais.</p>
                    </div>
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fas fa-circle fa-stack-2x text-primary"></i>
                            <i class="fas fa-laptop fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="my-3"></h4>
                        <p class="text-muted">7) No curso de Bacharelado em Engenharia de Software da Universidade de Vassouras, o discente desde o início do curso é estimulado colocar “a mão na massa”, potencializando o seu aprendizado aliando a teoria e a prática</p>
                    </div>
                </div>
            </div>
        </section>

{% endblock %}