{% extends 'template.html' %}

{% block title %} {{ super()}} - mercado {% endblock %}

{% block Mercado %}

<!-- Services-->
<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Mercado de Trabalho</h2>
            <h3 class="section-subheading text-muted">Engenharia de Software</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3"></h4>
                <p class="text-muted">O mercado de trabalho para um engenheiro de software é amplo e atualmente está aquecido com uma demanda muito grande em praticamente todas as áreas que utilizam algum tipo de tecnologia. Basicamente, hoje, tudo funciona com algum tipo de software, destacando-se neste cenário de crescimento e demanda por softwares: o desenvolvimento de aplicativos e softwares, a gestão de projetos de software, pesquisa, inovação e empreendedorismo e estudos de ciência de dados e visualização de dados, visando o entendimento para, com conhecimento, gerar benefícios para instituições e organizações.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3"></h4>
                <p class="text-muted">É importante destacar que o Sul e Centro-Sul fluminense apresentam diversidade de indústrias baseadas nos setores de metalurgia, siderurgia, química, automobilístico, hidroelétricos, fábricas de bebidas, entre outras, e todas tendem a utilizar elevado grau de automatização/informatização, onde o engenheiro de Software pode atuar.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3"></h4>
                <p class="text-muted">Outro fator importante é que a região é composta por diversas empresas que utilizam a computação como atividade-meio, a exemplo das siderúrgicas e empresas do setor de bebidas ou as de atividade-fim, como as empresas de (Enterprise Resource Planning - ERP) ou Software Houses.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3"></h4>
                <p class="text-muted">Por existirem vagas não preenchidas em todos os setores da economia, especialmente no de Tecnologia da Informação, o profissional da área de computação figura entre os mais requisitados e mais bem remunerados no mercado. A alta necessidade desta Engenharia está associada ao fato de a computação se inserir em todas as modernas empresas da economia. Atualmente, pequenas empresas ou multinacionais, demandam algum tipo de sistema computacional em utilização.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3"></h4>
                <p class="text-muted">Pode-se perceber, portanto, que se trata de um curso que apresenta uma grande demanda atualmente no mercado de trabalho, com uma grande possibilidade de expansão da área.</p>
            </div>
        </div>
    </div>
</section>


{% endblock %}